<div id="search-results" class="row">
  <div class="col-md-12">
    <header>
      <h1><%= image_tag "Leela.ico", size: "50x50" %> Customer Dashboard</h1>
    </header>
    <p class="lead">Here are the results of your search.</p>

    <div class="row">
      <div class='col-md-12'>
        <% if @results.count > 0 %>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th>Rank</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Categories</th>
                <th>Skills</th>
                <th>Tags</th>
                <th></th>
              </tr>
              </thead>
              <tbody class="hover-cursor">
              <% @results.each do |result| %>
                <tr>
                  <td><%= result[:rank] %></td>
                  <td><%= result[:user].fullname %></td>
                  <td><%= result[:user].email %></td>
                  <td><%= result[:categories].join(', ') %></td>
                  <td><%= result[:skills].join(', ') %></td>
                  <td><%= result[:tags].join(', ') %></td>
                  <!-- TODO -->
                  <td><%= link_to "Info", customer_search_result_info_path(@user, @profile, result[:user]), class: "show" %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <p>Oops, no results (sorry).</p>
        <% end %>
      </div>
    </div>

  </div>
</div>

