<div id="skill">
  <header>
    <h1><%= @category.name %></h1>
  </header>

  <header>
    <h2><%= @skill.name %></h2>

    <ul class="actions">
      <% if policy(@skill).update? %>
        <li><%= link_to "Edit Skill", [:edit, @category, @skill], class: "edit" %></li>
      <% end %>
      <li><%= link_to "Delete Skill", [@category, @skill], method: :delete,
        data: { confirm: "Are you sure you want to delete this skill?"},
        class: "delete" %></li>
    </ul>
  </header>

  <table id="attributes">
    <tr>
      <th>Author:</th>
      <td><%= @skill.author.email %></td>
    </tr>
    <tr>
      <th>Created:</th>
      <td><%= time_ago_in_words(@skill.created_at) %> ago</td>
    </tr>
  </table>

  <%= simple_format(@skill.description) %>
</div>
