<div class="panel panel-primary">
  <div class="panel-heading"><strong>Personal Information</strong></div>
  <table class="table">
    <tbody>
      <tr><td><strong>Fullname</strong> :</td><td><%= user.fullname %></td></tr>
      <tr><td><strong>Username</strong> :</td><td><%= user.username %></td></tr>
      <tr><td><strong>Email</strong> :</td><td><%= user.email %></td></tr>
      <tr><td><strong>Created at</strong> :</td><td><%= time_ago_in_words(user.created_at) + " ago" %></td></tr>
      <tr><td><strong>Sign in count</strong> :</td><td><%= user.sign_in_count %></td></tr>
      <tr><td><strong>Avatar</strong> :</td><td><%= image_tag "rand/#{rand(9)}.ico", size: "30x30" %></td></tr>
    </tbody>
  </table>
  <div class="panel-heading"><strong>Bio</strong></div>
  <table class="table">
    <tbody>
      <tr><td><%= user.bio %></td></tr>
    </tbody>
  </table>
</div>
